<h2>Create New User</h2>

<%= form_for User.new do |f| %>
	<%= f.label :email %><br>
	<%= f.text_field :email %><br>
	<%= f.label :password %><br/>
	<%= f.password_field :password %><br>
	<%= f.label :password_confirmation %><br/>
	<%= f.password_field :password_confirmation %><br/>	
	<%= f.submit %>
<% end %>
  