<%= form_for(@post) do |f| %>
	<div>
		<%= f.label :title %><br>
		<%= f.text_field :title %>
	</div>
	<br>
	<div>
		<%= f.label :body %><br>
		<%= f.text_area :body, :size => "75x10" %>
	</div>
	<div>
		<%= f.file_field :picture %>
	</div>
	<%= f.submit %>
<% end %>